* {
    padding: 0;
    margin: 0;
    font-family: 'Coustard', serif;
}

.navbar {
    color: #fff;
    padding: 20px;
}

.jumbotron {
    background: url(https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1500047094/lake-mealy-mountains-national-park-reserve-canada-MEALY0717.jpg);
    background-size: cover;
    background-repeat: none;
    border-radius: 0px;
    background-position: 0% 70%
}

.jumbotron p {
    padding: 10px;
    color: #000;
    background: rgba(235, 235, 235, 0.65);
    border-radius: 7px;
}

.padding {
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


#playGame {
    font-family: 'Coustard', serif;
    font-weight: ;
}


/* Word Arrays */

#wordOutline {
    font-size: 200%;
}

#wrongLetters {
    font-size: 150%;
}

/* Leaf animation */

#mapleleaf {
    animation-name: leafanimation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes leafanimation{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-20deg);       
    }
    50%{
        transform: rotate(0deg); 
    }
    75%{
        transform: rotate(20deg);        
    }
    100%{
        transform: rotate(0deg);
    }
}

#mapleleafRed {
    animation-name: leafanimation2;
    animation-duration: 3s;
    width: 170px;
    height: 170px;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes leafanimation2 {
    0%{
        transform: rotateY(0deg)
    }
    50%{
        transform: rotateY(90deg)
    }
    100%{
        transform: rotateY(0deg)
    }
}